NET "c<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "c<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "c<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "c<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "c<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "c<5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "c<6>" LOC = P84 | IOSTANDARD = LVTTL;
NET "c<7>" LOC = P87 | IOSTANDARD = LVTTL;

NET "a<0>" LOC = P92 | IOSTANDARD = LVTTL;
NET "a<1>" LOC = P94 | IOSTANDARD = LVTTL;
NET "a<2>" LOC = P97 | IOSTANDARD = LVTTL;
NET "a<3>" LOC = P99 | IOSTANDARD = LVTTL;
NET "a<4>" LOC = P191 | IOSTANDARD = LVTTL;
NET "a<5>" LOC = P104 | IOSTANDARD = LVTTL;
NET "a<6>" LOC = P111 | IOSTANDARD = LVTTL;
NET "a<7>" LOC = P114 | IOSTANDARD = LVTTL;